.thirdSection{
            max-width: 80vw;
            margin: auto;
            /* height: 190vh; */
}
.thirdSection h1{
            font-size: 1.9rem;
        }
.projects{
    /* height: 400px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width: 80%; */
    /* margin:50px 0px; */
    font-family: 'Ubuntu', sans-serif;
}
.section-left{
    flex-direction: row-reverse;
}
.paras{
  padding: 0 48px;
}
.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.sectionTag{
    padding: 16px 0;
}
.text-big{
    font-size: 20px;
    margin: 20px 0px;
}
.sectionsubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.text-small{
    font-size: 15px;
    margin: 20px 0px;
}
.thumbnail img{
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;;
}
.btn2{
    padding: 10px;
    border: 2px solid rgb(239, 226, 226);
    border-radius: 6px;
    cursor: pointer;
    background: rgb(8, 3, 16);
    color: white;
    text-decoration: none;
}
.contact{
    background-color: rgb(8, 3, 16);
    height:650px;
    
}
.text-center{
    text-align: center;
    margin: 30px 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    /* background-color: red; */
}
.text-center2{
    text-align: center;
    margin: 10px auto;
    font-family: 'Ubuntu', sans-serif;
    /* font-size: 35px; */
    /* background-color: red; */
}
.form{
    max-width:65%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-input{
  width: 100%;
  font-size: 20px;
  border: 2px solid rgb(73, 68, 68);
  border-radius: 6px;
  margin: 15px 0;
  padding: 5px 3px;

}
.text-footer{
    text-align: center;
    padding: 30px;
    font-family: 'Ubuntu', sans-serif;
    /* font-size: 35px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


@media only screen and (max-width:1078px){
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 400px;
    }
    .nav-list{
        flex-direction: column;
    }
    .rightNav{
        text-align: center;
    }
    .thirdSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .thirdSection h1{
    
        text-align: center;
    }
    
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
        /* justify-content: center; */
    }
    .firstHalf{
        /* justify-content: center; */
        margin:auto;
    }
    .secondHalf{
        margin:auto;
    }
    #search{
        width:100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
      height:72px;
    }
    .v-class-resp{
        opacity: 0;
    }
   
    .projects{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding:10px;
        align-items: center;
        margin:0px auto;
    }
    .text-big{
        text-align: center;
    }
    .text-small{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0px;
        
    }
    .btn2{
      margin-left: 30vw;
      /* margin:0 auto; */
    }
}