
@media only screen and (max-width:900px){

    body {
       width: 100vw;
        min-width: fit-content;
    }

    
    .firstSection {
        flex-direction: column-reverse;
        width: 100vw;
        margin: 10vh 0;
    }

    

    .leftSection {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .leftSection>div {
        text-align: center;
    }

    .rightSection {
        width: 500px !important;
        display: flex;
        justify-content: center;
    }

    .rightSection img {
        width: 45vw;
    }

    .image-top {
        top: 122px;
    }

    .secondSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* width: 80vw; */
        height: 950px;
    }
    .secondSection .box {
        width: 50vw;
        flex-direction: column;
    }

    .secondSection .vertical {
        height: unset;

    }

    .vertical-title,
    .vertical-desc {
        left: 45px;
    }


    footer {
        width: 100vw;
    }



    /* .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 400px;
    }
    .nav-list{
        flex-direction: column;
    }
    .rightNav{
        text-align: center;
    } */
    .thirdSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .thirdSection h1{
    
        text-align: center;
    }
    
    /* .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
        justify-content: center;
    }
    .firstHalf{
        justify-content: center;
        margin:auto;
    }
    .secondHalf{
        margin:auto;
    }
    #search{
        width:100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
      height:72px;
    }
    .v-class-resp{
        opacity: 0;
    } */
   
    .projects{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding:10px;
        align-items: center;
        margin:0px auto;
    }
    .text-big{
        text-align: center;
    }
    .text-small{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0px;
        
    }
    .btn2{
      margin-left: 30vw;
      /* margin:0 auto; */
    }
    footer .footer{
        justify-content: space-evenly;
    }
}
@media screen and (max-width:645px) {
   nav {
        flex-direction: column;
        height: 60px;
    }
    nav ul li{
        margin:0px 10px;
        
    }
    .left{
        font-size:0.8rem ;
    }
    .right{
        font-size: 0.6rem;
    }
    .leftSection{
        font-size: 1.5rem;
    }
    .leftSection .buttons{
        font-size: 1rem;
    }
    .leftSection .btn{
        font-size: 15px;
        padding: 8px;
    }
    .rightSection {
        width: 50vw !important;
        display: flex;
        justify-content: center;
    }

    .rightSection img {
        width: 50vw;
    }
   
    .thumbnail{
    
        display: flex;
        justify-content: center;
    }
    .thumbnail img{
        width: 80%;
    }
    footer {
        width: 100vw;
    }
    footer .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}