* {
    margin: 0px;
    padding: 0px;

}

body {
    background-color: rgb(8, 3, 16);
    /* background-color: rgb(233, 7, 25); */
    color: white;
    font-family: "Poppins", sans-serif;
    /* width: 50vw; */
    /* overflow-x: hidden; */
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(2, 2, 61);
    width: 100vw;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;

}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    font-size: 1.01rem;
    color: rgb(182, 182, 244);
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    /* justify-content: space-between; */
    margin: 15vh 0;
    align-items: center;
    /* padding: 0; */
}

.firstSection>div {
    width: 40%;
    
}

.leftSection {

    font-size: 3rem;
}

.leftSection .buttons {
    padding: 0px 15px;
}

.leftSection .btn {
    padding: 12px;
    font-size: 20px;
    color: white;
    background: rgb(13, 13, 56);
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
}

.rightSection img {
    width: 80%;

}

.purple {
    color: rgb(136, 17, 240);
}

#element {
    color: rgb(136, 17, 240);
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 50vh;
    min-height: 380px;
}

.secondSection h1 {
    font-size: 1.9rem;
}

main hr {
    border: 0px;
    background: #9c97f1;
    height: 1.2px;
    margin: 40px 84px;
}

.text-gray {
    color: gray;
}

.secondSection .box {
    background: white;
    /* width:80%; */
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 8vw;
}

.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}

.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
}

.vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 9px;
}
    
.thirdSection{
            max-width: 80vw;
            margin: auto;
            /* height: 190vh; */
}
.thirdSection h1{
            font-size: 1.9rem;
        }
.projects{
    /* height: 400px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width: 80%; */
    /* margin:50px 0px; */
    font-family: 'Ubuntu', sans-serif;
}
.section-left{
    flex-direction: row-reverse;
}
.paras{
  padding: 0 48px;
}
.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.sectionTag{
    padding: 16px 0;
}
.text-big{
    font-size: 20px;
    margin: 20px 0px;
}
.sectionsubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.text-small{
    font-size: 15px;
    margin: 20px 0px;
}
.thumbnail img{
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;;
}
.btn2{
    padding: 10px;
    border: 2px solid rgb(239, 226, 226);
    border-radius: 6px;
    cursor: pointer;
    background: rgb(8, 3, 16);
    color: white;
    text-decoration: none;
}
.contact{
    background-color: rgb(8, 3, 16);
    height:650px;
    
}
.text-center{
    text-align: center;
    margin: 30px 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    /* background-color: red; */
}
.text-center2{
    text-align: center;
    margin: 10px auto;
    font-family: 'Ubuntu', sans-serif;
    /* font-size: 35px; */
    /* background-color: red; */
}
.form{
    max-width:65%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-input{
  width: 100%;
  font-size: 20px;
  border: 2px solid rgb(73, 68, 68);
  border-radius: 6px;
  margin: 15px 0;
  padding: 5px 3px;

}
.text-footer{
    text-align: center;
    padding: 30px;
    font-family: 'Ubuntu', sans-serif;
    /* font-size: 35px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}



footer {
    background-color: #0e0e1a;

}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.footer ul {
    list-style: none;
}

.footer>div {
    width: 223px;
}

footer .footer-rights {
    text-align: center;
    color: gray;
    padding: 12px 0;
}
.footer-first h2{
    font-size: 20px;
}
.footer-third h2{
    font-size: 20px;
}
.footer-first p {
    padding: 10px 0px;
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
}

.footer-second ul li {
    margin: 10px 20px;
    font-size: 20px;
    text-align: center;
} 
